
.App-logo {
  animation: App-logo-spin infinite 20s linear;
	height: 80px;
	text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
	color: white;
	text-align: center;
}

.App-title {
	font-size: 1.5em;
	text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




/* 
// Auction css 
// -----------------------------------------------------------------------------------------
*/


.img-product {
	border-radius: 50%;
	height: 60px;
	width: 60px;
 }
 
 .img-product-big {
	border-radius: 50%;
	height: 200px;
	width: 200px;
 }
 
 .table-products {
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
	max-width: calc(100% - 2em);
	overflow: hidden;
	width: 100%;
 }
 
 table {
	width: 100%;
 }
 
 th { 
	 background-color: whitesmoke;
	 font-weight: 700;
	 padding: 10px;
 }
	
 td {
	 text-align: center;
	 vertical-align: middle;
	 padding: 10px;
 }
 
 tr:nth-child(odd){ 
	 background-color: whitesmoke; 
 }

 .window {
	display: flex;
	height: 100%;
	width: 100%;
 }

 .auction-window {
	height: 100%;
	width: 70%;
}

.product-details-window {
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
	height: 100%;
	width: 30%;
}